/* DONT MIND FOR CUSTOM CSS */
@import "tailwindcss";

.signup-wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
}

.signup-card {
    display: flex;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 700px;
}

.signup-left{
    flex: 1;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.signup-title{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-left: 1rem;

}

.signup-subtitle{
    font-size: 0.875rem;
    color: #9ca3af;
    text-align: center;
    margin-top: -1rem;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}


.signup-input {
    border: 1px solid #d1d5db;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    width: 100%;
    outline: none;
}

.signup-button {
    background-color: #dc2626;
    color: white;
    border-radius: 9999px;
    padding: 0.75rem;
    width: 100%;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    background-color: #f3f4f6;
}

.signup-dots {
    display: flex;
    gap: 0.5rem;
}

.dot-blue{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
    background-color: #3b82f6;
}

.dot-red{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 9999px;
    background-color: #dc2626;
}

.signup-right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.signup-dots {
    display: flex;
    gap: 0.5rem;
    position: absolute;
    bottom: 1rem;
    z-index: 2;
}